<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.web.dao.SysUserDao">

	<select id="getByUserName" resultType="com.example.demo.web.entity.SysUser" parameterType="java.lang.String">
		select * from sys_user where username = #{username}
	</select>

	<insert id="insertSysUser">
		insert into sys_user
		(
		  id,
		  username,
     	  password,
     	  createdate,
          createby,
          updatedate,
          updateby
		)
		values
		(
		#{id},
		#{userName},
		#{passWord},
		#{createDate},
		#{createBy},
		#{updateDate},
		#{updateBy}
		)
	</insert>



</mapper>